$color: #1aad19;
.side-card {
  position: relative;
  text-align: center;
  width: 100%;
  border-radius: 18px;
  border: 1px solid #eee;
  box-shadow: 2px 3px 8px #eee;
  .card-image {
    margin: 80px 0;
    width: 50px;
    height: 50px;
  }
  .intro {
    margin-top: -20px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .name {
    display: inline-block;
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .options {
    line-height: 80px;
    border-top: 1px solid #eee;
    font-size: 50px;
    color: $color;
  }
  .options2 {
    display: flex;
  }
  .minus {
    border-right: 1px solid #eee;
  }
  .add,
  .minus {
    display: inline-block;
    width: 50%;
    flex-shrink: 0;
  }
  .minus {
    color: #ccc;
  }
  .count {
    position: absolute;
    width: 50px;
    height: 50px;
    background: $color;
    color: #fff;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    top: -20px;
    right: -20px;
  }
}

.side_active {
  border: 2px solid $color;
}
