$color: #1aad19;
.card_side {
  .title {
    padding: 50px;
  }
  .side-bg {
    margin-left: 50px;
    width: 64%;
    border: 6px solid $color;
    border-radius: 18px;
    font-size: 0;
    position: relative;
  }
  .bg-gou {
    background: $color;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -25px;
    right: -25px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
  }
  .side-image {
    font-size: 0;
    width: 100%;
    height: 300px;
    border-radius: 10px;
  }
  .card-wrap {
    width: 94%;
    margin: auto;
    margin-top: -20px;
    .at-col-6 {
      padding: 20px 15px;
    }
    margin-bottom: 100px;
  }
  .replace {
    height: 150px;
  }
  .footer {
    height: 150px;
    background: #fff;
    border-top: 1px solid #eee;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .left,
  .right {
    display: inline-block;
    margin: 0 50px;
  }
  .buy-btn {
    background: $color;
    color: rgb(197, 195, 195);
    width: 200px;
  }
  .buy-btn-active {
    color: #fff;
  }
  .total {
    color: rgb(204, 202, 202);
  }
  .money::first-letter {
    font-size: 35px;
  }
  .money {
    font-size: 45px;
  }
  .total,
  .money {
    display: block;
  }
  .detail {
    .detail-image {
      margin: 150px 90px 90px 80px;
      width: 100px;
      height: 120px;
    }
    .detail-name {
      font-size: 40px;
      margin-top: 70px;
      width: 300px;
      white-space: pre-wrap;
    }
    .capacity,
    .detail-name {
      display: block;
    }
    .capacity {
      color: $color;
      margin-top: 30px;
      font-size: 30px;
    }
    .detail-add {
      display: inline-block;
      background: $color;
      padding: 20px 30px;
      margin-top: 70px;
      border-radius: 4px;
      color: #fff;
      font-size: 30px;
      margin-left: 50px;
    }
  }
  .detail-top {
    width: 100%;
    border-bottom: 1px solid #eee;
  }
  .detail-bottom {
    padding-top: 50px;
    width: 90%;
    margin: auto;
    font-size: 35px;
    line-height: 80px;
    text-align: justify;
  }
}
